<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.web>
        <customErrors mode="Off" />
 <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" maxUrlLength="2097100" maxQueryStringLength="2097100" />
    <pages validateRequest="false" />
    </system.web>

<location inheritInChildApplications="false">
    <system.webServer>
<staticContent>
    <remove fileExtension=".woff2" />
    <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />              
  </staticContent>
    </system.webServer>
</location>
    <system.webServer>
  <security>
    <requestFiltering>
      <requestLimits maxQueryString="2097100" />
    </requestFiltering>
  </security>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
        </httpErrors>
        <caching enabled="false" enableKernelCache="false" />

    </system.webServer>
</configuration>
