<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div  class="loanprofile-header">
        <h1 style="padding: 22px; ">Loan Profile</h1>
        <div style="margin: auto 10px;">
          <button class="btn-31"  [routerLink]="['/lenders', General.Organization.id ,'newLoanProfile']">
            <span class="text-container">
              <span class="text">Create Loan Profile</span>
            </span>
          </button>
          </div>
      </div>
        <div class="card-body" style="padding: 15px;">
          <div class="table-responsive" style="padding: 15px">
            <table id="basic-datatables" class="display table table-striped table-hover action-table table-bordered action-table ">
              <thead>
                <tr>
                  <th>Program Name</th>
                  <th>Target States</th>
                  <th>Target Countries</th>
                  <th>Investor</th>
                  <th>Tenancy</th>
                  <th>Owner Occupier</th>
                  <th>Sponsor States</th>
                  <th>international</th>
                  <th style="text-align: center">Edit</th>
                  <th style="text-align: center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let loanProfile of General.Organization.loanProfiles ">
                  <td>{{loanProfile.programName}}</td>
                  <td>{{loanProfile.targetStates}}</td>
                  <td>{{loanProfile.targetCountries}}</td>
                  <td>{{loanProfile.investor}}</td>
                  <td>{{loanProfile.tenancy}}</td>
                  <td>{{loanProfile.ownerOccupier}}</td>
                  <td>{{loanProfile.sponsorStates}}</td>
                  <td>{{loanProfile.international?"Active":"Inactive"}}</td>
                  <td style="text-align: center;">
                    <i class="fas fa-edit"  [routerLink]="['/lenders', General.Organization.id , loanProfile.id ,'edit']"
                      style="cursor: pointer; color: #1572e8!important;"></i>
                  </td>
                  <td style="text-align: center;">
                    <i class="fas fa-trash-alt" style="cursor: pointer; color: #f25961!important;"
                      (click)="DeleteLoanProfiles(loanProfile)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


 <!-- Modal -->
 <div class="modal fade" id="EditLoanProfle" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header no-bd">
        <h5 class="modal-title" style="font-size: 20px;">
          <span class="fw-mediumbold">
          Edit</span>
          <span class="fw-light">
           Loan Profile
          </span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
        <form  (ngSubmit)="f.form.valid  "  #f="ngForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-default">
                <label>Program Name</label>
                <input type="text" class="form-control" name="programName" [(ngModel)]="LoanProfileModel.programName"
                 #programName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && programName.invalid  }" required >
              </div>
            </div>
            <div class="col-md-6 pr-0">
              <div class="form-group form-group-default">
                <label>Target States</label>
                <input type="text" class="form-control" name="targetStates" [(ngModel)]="LoanProfileModel.targetStates"
                #targetStates="ngModel" [ngClass]="{ 'is-invalid': f.submitted && targetStates.invalid }" required >
              </div>
            </div>

            <div class="col-md-6 pr-0">
              <div class="form-group form-group-default">
                <label>Target Countries</label>
                <input type="text" class="form-control" name="address" [(ngModel)]="LoanProfileModel.targetCountries"
                #targetCountries="ngModel" [ngClass]="{ 'is-invalid': f.submitted && targetCountries.invalid }" required >
              </div>
            </div>
            <div class="col-md-6 pr-0">
              <div class="form-group form-group-default">
                <label>Investor</label>
                <input type="text" class="form-control" name="address" [(ngModel)]="LoanProfileModel.investor"
                #investor="ngModel" [ngClass]="{ 'is-invalid': f.submitted && investor.invalid }" required >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Tenancy</label>
                <input  type="text" class="form-control" name="states" [(ngModel)]="LoanProfileModel.tenancy"
                 #tenancy="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tenancy.invalid }" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Owner Occupier</label>
                <input  type="text" class="form-control" name="states" [(ngModel)]="LoanProfileModel.ownerOccupier"
                 #ownerOccupier="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ownerOccupier.invalid }" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Sponsor States</label>
                <input  type="text" class="form-control" name="states" [(ngModel)]="LoanProfileModel.sponsorStates"
                 #sponsorStates="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sponsorStates.invalid }" required>
              </div>
            </div>
          </div>
          <div class="modal-footer no-bd" style="padding: 0;">
            <button type="submit" id="addRowButton" class="btn btn-primary" style="background-color: #26de81;border: none; padding: 13px 30px;"
            >{{Editing?'Edit':'Add'}}</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: #ff4d4d;border: none;" (click)="closeModal()">Close</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
